

<html>
    <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

    <h2>Buttons</h2>
    <form method="post" action="/control">
        <div style="margin-bottom:10px ;">
            <p>HRM</p>

        </div>
        <div style="margin-bottom:10px ;">
            <input style="width:20%" type="submit" name="open0" value="Open">
            <input style="width:20%" type="submit" name="open1" value="Open">
            <input style="width:20%" type="submit" name="open2" value="Open">

        </div>
        <div>
            <input style="width:20%" type="submit" name="close0" value="Close">
            <input style="width:20%" type="submit" name="close1" value="Close">
            <input style="width:20%" type="submit" name="close2" value="Close">

        </div>

        <div class="col-lg-2 form-group align-self-start">
            <label>&nbsp;</label>
            <button type="submit">Submit</button>
        </div>



    </form>
    </body>
</html>