{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}
<div class="content">
  <h1 style="text-align: center">Rocket Systems</h1>
</div>
<a href="http://127.0.0.1:5000/graph" class="button-3">Ground Systems Pressure</a>
<p></p>
<a href="http://127.0.0.1:5000/onboard/graph" class="button-3">Onboard Systems Pressure</a>
<p></p>
<a href="http://127.0.0.1:5000/control" class="button-3">Actuate Ground Systems</a>
<p></p>
<a href="http://127.0.0.1:5000/onboard/control" class="button-3">Actuate Onboard Systems</a>
<p></p>
<a href="http://127.0.0.1:5000/onboard/logging" class="button-3">log data</a>
<p></p>
<a href="http://127.0.0.1:5000/all" class="button-3">All Systems Overview</a>



{% endblock %}