{% extends 'base.html'%}

{% block head %}

{% endblock %}

{% block body %}
<h1 style="text-align: center;">
    Control Panel
</h1>

<div>
    <div>
        <canvas id="graph0" width="300px" !important; height ="300px" important; style="border:1px solid" ></canvas>
    </div>
    <div>
        <canvas id="graph1" width="300" !important; height ="300" !important;></canvas>
    </div>
</div>

<script>
    const config0 = {
        type: 'line',
        data: {
            labels: Array(30).fill("00:00:00"),
            datasets: [{
                label: "Pneumatics",
                backgroundColor: 'rgba(176,55,55,.1)',
                borderColor: 'rgb(176,55,55)',
                data: Array(30).fill(null),
                fill: true,},
                {
                label: "Pneumatics Supply",
                backgroundColor: 'rgba(20,55,55,.1)',
                borderColor: 'rgb(20,55,55)',
                data: Array(30).fill(null),
                fill: true,
            }]
        },
        options: {
            responsive: false,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'Pneumatics and Pneumatics Supply'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Pressure (psi)'
                    }
                }]
            }
        }
    };
    const context0 = document.getElementById('graph0').getContext('2d');
    const lineChart0 = new Chart(context0, config0);

    const config1 = {
        type: 'line',
        data: {
            labels: Array(30).fill("00:00:00"),
            datasets: [{
                label: "HE",
                backgroundColor: 'rgba(236,174,97,.1)',
                borderColor: 'rgb(236,174,97)',
                data: Array(30).fill(null),
                fill: true,
            }],
        },
        options: {
            responsive: false,
            maintainAspectRatio: false,
            title: {
                display: true,
                text: 'HE and HE Supply'
            },
            tooltips: {
                mode: 'index',
                intersect: false,
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Time'
                    }
                }],
                yAxes: [{
                    display: true,
                    scaleLabel: {
                        display: true,
                        labelString: 'Pressure (psi)'
                    }
                }]
            }
        }
    };
    const context1 = document.getElementById('graph1').getContext('2d');
    const lineChart1 = new Chart(context1, config1);

    const source = new EventSource("/chart-data");

    const socket = new WebSocket('ws://' + location.host + '/graph/data0');
    socket.addEventListener('message', ev => {
        const datasource = JSON.parse(ev.data);
        if (config0.data.labels.length === 30) {

            config0.data.labels.shift();
            config0.data.datasets[0].data.shift();

            config0.data.labels.shift();
            config0.data.datasets[1].data.shift();

            config1.data.labels.shift();
            config1.data.datasets[0].data.shift();
        }
        config0.data.labels.push(datasource.label);
        config0.data.datasets[0].data.push(datasource.data0);

        config0.data.labels.push(datasource.label);
        config0.data.datasets[1].data.push(datasource.data1);

        config1.data.labels.push(datasource.label);
        config1.data.datasets[0].data.push(datasource.data2);

        lineChart0.update();
        lineChart1.update();

    });

</script>

{% endblock %}